
html,body
{
    width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

.team-banner-image {
  width: 100%;
  margin-top: 20px;
}

.about-us-description {
  font-size: 24px;
  padding: 20px
}

.container-home-top{
  margin-top: 30px;
  min-height: 80vh;
  font-size: 35px;
  background-color: #001b5f;
  padding-top: 120px;
  padding-bottom: 40px;
  color: rgb(196, 196, 196);
}
.team-card{
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 50px;
}
.team-card>img{
  width: 100%;
}
.my-auto > .col-md-4 > .team-card > img{
  width: 70%;
}
.card-text{
  position: absolute;
  background-color: #F2F9FF;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  right: 0;
  bottom: -5px;
  box-shadow: 0 5px 6px -6px #777;
}
.container-home-top>img{
  max-width: 80px;
}
.founders-heading {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 600;
  color: #251a4a;
  margin-top: 80px; 
  /* margin-bottom: 80px; */
}

.founders-image {
  height: 250px;
}

.founder-name {
  font-size: 22px;
  font-weight: bold;
  /* margin-top: 40px; */
  margin-bottom: 0;
}

.akash_card{
  margin-top: 18%;
  padding: 19%;
  padding-bottom: 10%;
}
.shail_card{
  margin-top: 13%;
  padding: 15%;
  padding-top: 15%;
  padding-bottom: 12%;
}
.bharath_card{
  margin-top: 17%;
  padding: 16%;
  padding-bottom: 12%;
}
.arpit_card{
  margin-top: 4%; 
}
.saif_card{
  margin-top: 9%; 
}

.founder-designation {
  font-size: 22px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.38);
  margin-bottom: 15px;
}

.founder-description {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

.founder-detail-wrapper {
  background-color: #ffffff;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06);
  padding: 20px 30px;
}

.founder-outer-wrapper {
  padding: 0 30px;
}

.founders-linkedIn {
  height: 50px;
  width: 50px;
}

.bottom-card-founder {
  margin-bottom: 150px;
}

.yellow-dot-wrapper {
  margin-top: 40px;
}

.yellow-circle {
  padding: 5px 14px;
  background-color: #fedd00;
  border-radius: 20px;
}

.about-us-heading {
  color: #1078F0 !important;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: bold;
  margin-top: 70px;
}
.about-us-text-con{
  min-width: 150vw;
  min-height: 600px;
  padding-top: 50px;
  margin-left: -25vw;
  background: linear-gradient(0deg, rgba(201, 226, 255, 0.63) 0.35%, rgba(228, 244, 255, 0.001) 99.63%);
  padding-bottom: 100px;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50% ;
}
.about-us-text-con>p{
  padding-left: 40vw;
  padding-right: 40vw;
}



@media (max-width: 768px) {
  .about-us-heading {
    font-size: 30px;
    margin-top: 30px;
  }

  .about-us-description {
    font-size: 16px;
    padding: 10px;
    text-align: justify;
  }

  .founders-heading {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .founder-detail-wrapper {
    height: auto;
    padding: 20px 10px;
    margin-bottom: 30px;
  }

  .founder-designation {
    font-size: 18px;
    margin-top: 8px;
  }

  .founder-description {
    font-size: 16px;
    text-align: justify;
  }

  .bottom-card-founder {
    margin-bottom: 80px;
  }
}