body {
    font-family: 'Noto Sans', sans-serif;
    color:#646464;
}

.index-form {
    position: absolute;
    width: 450px;
    height: 133px;
    right: -5em;
    margin-top: 130px;
}

.to-align {
    position: relative;
}

.left-align {
    position: absolute;
    left: 0;
    width: 1000px;
}

.text-bold {
    font-weight: 600;
}

.page-banner-margin {
    margin-right: 10px;
}

.page-banner-top {
    min-height: 600px;
    height: auto;
    
}

.banner-btn-home {
    width: 220px;
    height: 50px;
    border-radius: 4px;
    background: #1078F0;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-top: 36px;
    box-shadow: 5px 5px rgba(16, 120, 240, 0.4); 
    transition: ease-in 0.2s;
    
}
.banner-btn-home:hover {
    transition: ease-in 0.2s;
    outline: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.banner-btn-home:focus {
    outline: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.margin-bottom-75 {
    margin-bottom: 75px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.font-blue {
    color: #251a4a !important;
}

.padding-0 {
    padding: 0 !important;
}

.mobile-element {
    display: none;
}

.navbar-brand {
    padding: 0;
    padding-top: 6px;
    font-size: 22px;
    font-weight: 600;
    color: #251a4a !important;
    margin-right: 20px;
}

.navbar-logo {
    height: 40px;
    padding: 0 !important;
    margin-right: 5px;
    margin-left: 10px;
}

.modal-wrapper {
    height: 100vh;
    width: 100%;
    z-index: 1;
    background-color: black;
    position: fixed;
    top: 0;
    opacity: 0.7;
}

.success-modal {
    border-radius: 10px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    padding: 40px;
    position: fixed;
    top: 30%;
    z-index: 1;
}

.success-text {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 22px;
    font-weight: 500;
    color: #251a4a;
}

.modal-btn-wrapper {
    margin-top: 20px;
}

.modal-close-btn {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 22px;
    font-weight: 500;
    color: #7151e3;
    padding: 0 20px;
    cursor: pointer;
}

.visible {
    display: block;
}

#modal-hide {
    display: none;
}

.font-32 {
    font-size: 2.8em !important;
}

.font-20 {
    font-size: 20px !important;
}

.migration-text {
    font-size: 15px;
    background-color: #f7f7f7;
    padding: 5px;
    margin-bottom: 0 !important;
}

#dropdownCatalog1 {
    width: 280px !important;
}

.d-none {
    display: none;
}

.dropdown-sub-links {
    padding: 6px !important;
    font-size: 16px !important;
    padding-left: 20px !important;
}
.modal-body{
    padding: 50px;
}
.input-group-addon{
    color:black; 
    background-color: #ffffff;
}
li > a , li > a:hover {
    direction: none !important;
    color:#646464;
    text-decoration: none;
}

@media (min-width: 768px) {
    .desktop-d-none {
        display: none;
    }
}

@media (max-width: 768px) {
    .font-mobile-16 {
        font-size: 16px !important;
    }
    .mobile-center {
        text-align: center !important;
    }
    .desktop-element {
        display: none;
    }
    .mobile-element {
        display: block;
    }
    .banner-btn-home {
        width: 240px;
        font-size: 22px;
    }
    .page-banner-top {
        height: auto;
        padding-bottom: 60px;
    }
    .success-modal {
        padding: 20px;
        top: 20%;
        margin: 15px;
    }
    .success-text {
        font-size: 16px;
    }
    .modal-close-btn {
        font-size: 16px;
    }
}