footer {
    padding: 0;
}

.footer-wrapper {
    background: #ffffff;
}

.footer-top {
    line-height: 0 !important;
    padding: 0 !important;
    margin-bottom: 80px;
}

.heading-top-footer {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: 0.025em;
    color: #02042B;
    margin-top: 50px;
    
}
.foother-container{
    width: 100vw !important;
    background-color: #E4F4FF;
    padding-top: 80px;
    padding-bottom: 120px;
    min-height: 400px;
    padding-left: 120px;
    padding-right: 100px;
}

.footer-cols{
    padding: 30px;
}
.footer-heading{
    margin-bottom: 20px;
    padding: 0;
    font-size: 22px;
    
}
.footer-heading>span{
    border-bottom: 2px solid #0955FF;
    padding: 0 !important;
}
.copy-rights{
    width: 100vw !important; 
    padding: 20px;
    background-color: #E4F4FF;
}
.copy-rights-row > hr{
    border: none;
    height: 2px;
    margin: 0;
    padding: 0;
    line-height: 0;
    background-color: #7AB8FF;
}

.footer-heading>img{
    max-width: 100px;
}
.footer-info>ul{
    padding: 0;
    list-style-type: none;
}
.footer-info>ul>li{
    padding-bottom: 13px;
}

.footer-btn-wrapper {
    margin-bottom: 150px;
}
.linkedin{
    padding-top: 30px;
    max-width: 30px;
}

.footer-schedule-btn {
    font-family: Montserrat;
    width: 299px;
    height: 61px;
    border-radius: 8px;
    background-color: #0955FF;
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    padding: 12px 40px;
    cursor: pointer;
}

.footer-product {
    font-size: 20px;
    color: #ffffff;
    margin-right: 25px;
}

.footer-product-links {
    font-family: Montserrat;
    font-size: 20px;
    text-decoration: underline;
    color: #02042B;
    margin-right: 25px;
    cursor: pointer;
}

.footer-product-links:hover {
    color: #2089c2
}

.product-right-links-wrapper {
    margin-top: 85px;
    margin-bottom: 75px;
}

.product-links-wrapper {
    margin-bottom: 75px;
}

.footer-description {
    font-family: Montserrat;
    font-size: 18px;
    color: #02042B;
    ;
    width: 60%;
}

.bottom-footer-heading {
    font-family: Montserrat;
    font-size: 24px;
    color: #02042B;
    margin-top: 40px;
}

.footer-copyright {
    font-size: 18px;
    color: #02042B;
    font-family: Montserrat;
    width: 60%;
    margin-bottom: 170px;
}

.social-link-img {
    height: 50px;
    margin-right: 25px;
    cursor: pointer;
}

.mobile-footer-logo {
    display: none;
}

.footer-logo {
    height: 50px;
    margin-right: 5px;
}

.footer-logo-text {
    color: #ffffff;
    font-weight: 600;
    font-size: 28px;
}

.social-link-linkedIn {
    font-size: 50px;
    color: #0077b7 !important;
}

.footer-demo-btn-link:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer-product-links {
        font-size: 16px;
        display: block;
    }
    .footer-description {
        width: 100%;
    }
    .mobile-footer-logo {
        display: block;
        margin-top: 60px;
        margin-bottom: 20px;
        height: 100px;
    }
    .heading-top-footer {
        font-size: 30px;
        margin-top: 80px;
    }
    .footer-schedule-btn {
        margin-top: 20px;
        font-size: 20px;
    }
    .footer-schedule-btn-products {
        margin-top: 20px;
        font-size: 20px;
    }
    .footer-btn-wrapper {
        margin-bottom: 80px;
    }
    .footer-logo-text {
        margin-top: 50px;
    }
}
